<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>환영해 🫡 <span style="color: #0080f8">"{{username}}"</span></h2>
    <p>엑세스 토큰 : ▶️ {{accessToken}}</p>
    <p>리프레시 토큰 : ⏯️ {{refreshToken}}</p>

    <!-- SSR 엑세스 유효시간 10분 -->
    <form method="post" action="/refresh" style="margin-bottom: 10px">
        <input type="hidden" name="refreshToken" value="{{refreshToken}}">
        <input type="submit" value="수동 토큰 갱신">
    </form>

    <!-- 로그아웃 버튼 -->
    <form method="post" action="/logout">
        <input type="hidden" name="refreshToken" value="{{refreshToken}}">
        <input type="submit" value="로그아웃 처리">
    </form>


    <!-- 자동 토큰 갱신 스크립트 -->
    <script>
        const refreshToken = "{{refreshToken}}";
        console.log("refreshToken: ",refreshToken);

        const initialAccessToken  = "{{accessToken}}";
        console.log("initialAccessToken: ",initialAccessToken);

        async function refreshAccessToken(){
            try {
                const response = await fetch('/refresh', {
                    method: 'POST',
                    headers: {'Content-type': 'application/x-www-form-urlencoded'},
                    body: 'refreshToken=' + encodeURIComponent(refreshToken)
                });
                if(!response.ok) throw new Error("갱신 실패");
                const html = await response.text();
                console.log("html: ",html);
                document.body.innerHTML = html; // 페이지 갱신 처리
            }catch (error){
                console.error(error);
                window.location.href = "/login"; // 실페 시 로그인 페이지로 이동
                // TODO : 페이지 이동
            }

        }
        // 호춣 - setTimeout 단, 한 번 실행됨
        // setTimeout(refreshAccessToken, 1000 * 3); // 3초 뒤 실행

        // 3초마다 계속 호출
        setInterval(refreshAccessToken, 1000 * 3);



    </script>


</body>
</html>